* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

body{
    line-height: 1.4em;
    font-weight: bold;
}

.container {
    
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.container div{
    display: flex;
    flex-wrap: wrap-reverse;
   
}


.wave {
    display: block;
    width: 100%;

    filter: invert(99%) sepia(7%) saturate(31%) hue-rotate(222deg) brightness(112%) contrast(65%);
}


h2{
    font-size: 34px;
    line-height: 1.3em;
    margin-bottom: 1em;
    font-family: 'Whitney Bold';
}


.container-small {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin: 0px;
    color: #FFFFFF;
    flex-grow: calc(100% / 3);

   
    max-width: 800px;}
    


header, section {
    padding: 40px 20px;
}


.gray {
    background-color: #d3d3d3;
}

.section img{
    width: 100%;}

/* sezione navbar */




nav .container {
    background-color: #2175c2;
    /* test */

    display: flex;

}

nav .logo {
    width: 100px;
}


nav .nav-links {
    flex-grow: 1;
}
nav .nav-links ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 12px;
}


nav .login {
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
/* fine sezione navbar */



/* sezione hero */
#hero {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
   
    /* test */
}

#hero .container-small {
    height: 300px;
    
}


/* fine sezione hero */

/* inizio section column */

.row {
    display: flex;
    justify-content: center;
    gap:100px;
}

.column-big {
    background-size:cover ;
    height: 400px;
    flex-grow: 1;
    display:flex;
    justify-content: center
    ;
}

.column-small {
   
    height: 400px;
   
    display: flex;
    flex-wrap: wrap;
    
   
    width: 400px;
}

#magician{
    background-image: url(img/item2.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.column-big-two{
    background-image: url(img/item3.svg);
    background-repeat: no-repeat ;
    background-position: center;
    height: 400px;
  
    flex-grow: 1;
}

.column-small-two{
   
    height: 400px;
   
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 400px;

}







/* sezione footer */



footer {

    padding-top: 64px;

    color: white;
    background-color: #23272a;
}




footer #footer-top {

    padding-bottom: 30px;

    margin-bottom: 30px;

    border-bottom: 1px solid #728bdb7b;
}

footer #footer-top h2,
footer #footer-top h5 {
    color: #7289da;
}


footer #footer-top h2 {
    margin-bottom: 1em;
}

footer #footer-top .footer-links {
    width: 250px;
    margin-right: 100px;
}

footer #footer-top .language-selector {
    margin-bottom: 20px;
}

footer #footer-top .language-selector img {
    height: 1em;
}

footer #footer-top .language-selector .fa {
    font-size: 0.5em;
    line-height: 2em;
    vertical-align: middle;
}

footer #footer-top .footer-links .icons {
    display: flex;
    gap: 20px;
}



footer #footer-top .footer-column {
    
    flex-grow: 1;
}

footer #footer-top .footer-column h5 {
    font-size: 16px;
    margin-bottom: 15px;
}

footer #footer-top .footer-column ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

    list-style-type: none;
}



footer #footer-bottom {

    margin-top: 16px;
}

footer #footer-bottom {
    justify-content: space-between;

    padding: 16px 0;
}


/* fine sezione footer */