* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

.container {
    
    margin-left: auto;
    margin-right: auto;
      
}

.container div{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.container img{
    padding: 0px 250px;
}

.container-small {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin: 0px;
    color: #FFFFFF;
    
    font-weight: normal;
   
    width: 240px;
    height: 150px;
}


header, section {
    padding: 40px 20px;
}


.bg-gray {
    background-color: #d3d3d3;
}




/* sezione navbar */




nav .container {
    background-color: #2175c2;
    /* test */

    display: flex;

}

nav .logo {
    width: 100px;
}


nav .nav-links {
    flex-grow: 1;
}
nav .nav-links ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 12px;
}


nav .login {
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
/* fine sezione navbar */



/* sezione hero */
#hero {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
   
    /* test */
}

#hero .container-small {
    height: 300px;
    
}


/* fine sezione hero */

/* inizio section column */

.row {
    display: flex;
}

.column-big {
    background-image: url(img/item2.svg);
    background-size:cover ;
    height: 400px;
    flex-grow: 1;
}

.column-small {
   
    height: 400px;
   
    display: flex;
   
    width: 400px;
}

.column-big-two{
    background-image: url(img/item3.svg);
    background-size:cover ;
    height: 400px;
  
    flex-grow: 1;
}

.column-small-two{
   
    height: 400px;
   
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 400px;

}


.big-content {
    background-image: url(img/item4-big.svg);
    background-size:cover ;
    height: 600px;
 
}




/* sezione footer */



footer {
    background-color: white;
    display: flex;
    padding: 50px;
    flex-wrap: wrap;

    border: 1px solid white;
}





footer #footer-top {
    padding: 30px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}

#footer-block{
    padding: 40px;
    border: 1px solid white;

}






footer #footer-end {
    background-color: #7fffd4;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    border: 1px solid white;
    min-width: 100%;
}

footer #footer-end{
    justify-content: space-between;

    padding: 50px 50px;
}


