* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */


/* i container hanno una dimensione fissa,  centrati orizzontalmente */
.container {
    
    /* test */

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}

.container-small {
    
    /* test */

    max-width: 800px;

    margin-left: auto;
    margin-right: auto;
}


header, section {
    padding: 40px 20px;
}


.bg-gray {
    background-color: #d3d3d3;
}




/* sezione navbar */
nav {
    background-color: #add8e6;
    /* test */
    padding: 10px ;
}

nav .container > * {
  
    /* test */

    padding: 10px;
}

nav .container {
    background-color: #daa520;
    /* test */

    display: flex;

}

nav .logo {
    width: 100px;
}


nav .nav-links {
    flex-grow: 1;
}
nav .nav-links ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 12px;
}


nav .login {
    width: 100px;
    text-align: right;
}
/* fine sezione navbar */



/* sezione hero */
#hero {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
   
    /* test */
}

#hero .container-small {
    height: 300px;
    /* test */
}


/* fine sezione hero */

/* inizio section column */

.row {
    display: flex;
}

.column-big {
    background-image: url(img/item2.svg);
    background-size:cover ;
    height: 400px;
    flex-grow: 1;
}

.column-small {
   
    height: 400px;
   
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 400px;
}

.column-big-two{
    background-image: url(img/item3.svg);
    background-size:cover ;
    height: 400px;
  
    flex-grow: 1;
}

.column-small-two{
    background-color: #ffc0cb;
    height: 400px;
   
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 400px;

}


.big-content {
    background-image: url(img/item4-big.svg);
    background-size:cover ;
    height: 600px;
 
}




/* sezione footer */



footer {
    background-color: white;
    display: flex;
    padding: 50px;
    flex-wrap: wrap;

    border: 1px solid white;
}





footer #footer-top {
    padding: 30px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}

#footer-block{
    padding: 40px;
    border: 1px solid white;

}






footer #footer-end {
    background-color: #7fffd4;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    border: 1px solid white;
    min-width: 100%;
}

footer #footer-end{
    justify-content: space-between;

    padding: 50px 50px;
}


